.header-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        flex-grow: 1;
    }

    nav {
        display: flex;

        .nav-links {
            display: flex;
            flex-direction: row;
        }
    }
}

.page-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    @media screen and (width > 900px){
        grid-template-columns: repeat(3,1fr);
    }
}